<section class='aligner background'>
  <div class='container'>

  <%= render :partial => 'welcome/static/presentation' %>

  <%= render :partial => 'welcome/static/login_modal' %>

  <%= render :partial => 'welcome/static/option_buttons' %>

  </div>
</section>

<div class='container'>

  <%= render :partial => 'welcome/static/how_it_works' %>

  <%= render :partial => 'welcome/dynamic/donations' %>

  <%= render :partial => 'welcome/dynamic/food_banks' %>

  <%= render :partial => 'welcome/dynamic/ranking_donors' %>

</div>
