<h2 class='center'>Ranking de donantes</h2>
<div class='row'>
  <div class='col-md-12 col-sm-12 col-xs-12'>
    <div class='frame-for-circle'>
      <div class='m-circle'>
        <span class='glyphicon glyphicon-king'></span>
      </div>
      <div class='ranking-major-box'>
        <div class='head-box'>
          <h6>Nº 1</h6>
          <h3><%= @winner_user.name %></h3>
        </div>
        <div class='col-md-3 col-md-offset-2 col-xs-4'>
          <div class='s-circle'>
            <p><span class='glyphicon glyphicon-heart'></span></p>
          </div>
          <p><%=  @winner_user_donations %> Donaciones</p>
        </div>
        <div class='col-md-2 col-xs-4'>
          <div class='s-circle'>
            <p><span class='glyphicon glyphicon-ok'></span></p>
          </div>
          <p><%= @winner_user_products %> Productos</p>
        </div>
        <div class='col-md-3 col-xs-4'>
          <div class='s-circle'>
            <p><span class='glyphicon glyphicon-object-align-bottom'></span></p>
          </div>
          <p><%= @winner_user_donations_porcentage %>% Porcentaje</p>
        </div>
      </div>
    </div>
  <div class="row">
    <% @last_winner_users.each do |winner| %>
    <div class='col-md-6 col-sm-12 col-xs-12'>
    <div class='frame-for-circle with-minor-circle'>
      <div class='m-circle minor'>
        <span class='glyphicon glyphicon-star'></span>
      </div>
      <div class='ranking-major-box second-places'>
        <div class='head-box'>
          <h6>Nº 2</h6>
          <h3><%= winner.name %></h3>
        </div>
        <div class='col-md-4 col-xs-4'>
          <div class='s-circle xs'>
            <p><span class='glyphicon glyphicon-heart'></span></p>
          </div>
          <p><%= winner.donations.length %> Donaciones</p>
        </div>
        <div class='col-md-4 col-xs-4'>
          <div class='s-circle xs'>
            <p><span class='glyphicon glyphicon-ok'></span></p>
          </div>
          <p><%= winner.get_user_products %> Productos</p>
        </div>
        <div class='col-md-4 col-xs-4'>
          <div class='s-circle xs'>
            <p><span class='glyphicon glyphicon-object-align-bottom'></p>
          </div>
          <p><%= winner.donations.length * 100 / Donation.all.length %>% Porcentaje</p>
        </div>
      </div>
    </div>
    </div>
  <% end %>
  </div>
  </div>
</div>


<hr class='separator'></hr>
<a href='#' class='btn-do margin-helper'>Ver ranking</a>
