<div class='container'>
  <div class='margin-for-nav'>
    <div class="row">
      <div class='col-md-4'>
        <h1><%= @donation.description %></h1>
        <h3><%= @donation.date %></h3>
      </div>
      <div class='col-md-8'>
        <% if @products.any? %>
        <form id="new_request" action="/donations/<%= @donation.id %>" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="✓"><input type="hidden" name="authenticity_token" value="6bHg9h10h5Vigv7hquw4fDgojW6ybzjhtcmivoW1sJP/gRb4FEBZN+jx5cmGaK0HC0olegFZhgVO775OMhx4dw==">
          <ol>
          <% @products.each do |product| %>
            <li><%= product.name %> - (<%= product.amount %>)</li>
          <% end %>
          </ol>
        <% end %>
        <% if user_signed_in? %>
          <% if current_user.is_a_donor? %>
          <% else %>
            <% if current_user.id == @donation.bank_id %>
            <a href="">Donación solicitada</a>
            <% else %>
          <input type="hidden" name="donations[bank_id]" value="<%= current_user.id %>" id="_donations_bank_id"></input>
          <input class='btn-do donation-request' type="submit" name="commit" value="Solicitar donación">
          </form>
            <% end %>
          <% end %>
        <% else %>
        <div class='link-group'>
          <a data-toggle="modal" data-target="#sign-modal" href="#" class='signup btn-do group'>Regístrate</a>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>