<div class='back-image'>
<div class='overlay'></div>
<div class='container'>
  <div class='margin-for-nav'>
    <div class="row">
      <div id='donation-info' class='col-md-4'>
        <h5><%= @donation.donor.name %></h5>
        <h1 class='donation-title'><%= @donation.description %></h1>
        <h3><%= @donation.date %></h3>
        <% if @donation_bank_id %>
          <span class='state-donation requested'>Donación solicitada</span>
        <% else %>
          <span class='state-donation available'>Donación disponible</span>
        <% end %>
      </div>
      <div class='col-md-8'>
        <% if @products.any? %>
        <form id="new_request" action="/donations/<%= @donation.id %>" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="✓"><input type="hidden">
          <h2>Lista de alimentos</h2>
          <ol>
          <% @products.each do |product| %>
            <li><%= product.name %> - (<%= product.amount %>)</li>
          <% end %>
          </ol>
        <% end %>
        <% if user_signed_in? %>
          <% if current_user.is_a_donor? %>
            <p class="margin-notification">
              <% if current_user.id == @donation_donor_id %>
              * Como autor tienes la opción de eliminar esta donación.
              <% else %>              
              * Necesitas estar registrado como banco para solicitar esta u otra donación.
              <% end %>
            </p>
            <% if current_user.id == @donation_donor_id %>
            <a class='btn-do' rel="nofollow" data-method="delete" href="/donations/<%= @donation.id %>">Eliminar donación</a>
            <% else %>
            <a class='btn-do' href="/donor/donate">Hacer una donación</a>
            <% end %>
          <% else %>
            <% if @donation_bank_id %>
              <p class="margin-notification"><% if current_user.id == @donation_bank_id %>
                * Has solicitado esta donación. Tienes la opción de eliminar tu solicitud.
                  <% else %>    
                * Esta donación ya está solicitada por <span class='bank'><%= @donation.bank.name %></span>
                  <% end %>
              </p>
              <a href="/donations" class='btn-do'>Ver más donaciones</a>
              <% if current_user.id == @donation_bank_id %>

              <%= link_to "Eliminar solicitud", donors_put_path(@donation), :method=> :put, :class => "btn-do"%>
       
              <% else %>          
              <% end %>
            <% else %>
              <p class="margin-notification">Esta donación está disponible gracias a <span class='donor'><%= @donation.donor.name %></span></p>
              <input type="hidden" name="donations[bank_id]" value="<%= current_user.id %>" id="_donations_bank_id"></input>
              <input class='btn-do donation-request' type="submit" name="commit" value="Solicitar donación">
            <% end %>
          </form>
          <% end %>
        <% else %>
          <div class='link-group'>
            <a data-toggle="modal" data-target="#sign-modal" href="#" class='signup btn-do group'>Regístrate</a>
            <a data-toggle="modal" data-target="#sign-modal" href="#" class='signin btn-do group'>Inicia sesión</a>
            
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
</div>